<div class="wrapper">
  <div id="formContent">

    <h1>Quiz App</h1>

    <!-- Login Form -->
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <input type="email" formControlName="email" id="login" name="login" 
        placeholder="Enter email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">Email is required</div>
      </div>

      <input type="password" formControlName="password" id="password" name="login" 
        placeholder="Enter password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">Password is required</div>
      </div>

      <div class="login-error">{{ loginError }}</div>

      <button type="submit" [disabled]="loading" class="btn btn-primary">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        Log in
      </button>
    </form>

    <!-- Go to Register Form -->
    <div id="formFooter">
      <a class="underlineHover" [routerLink]="'/register'">Create an account</a>
    </div>

  </div>
</div>