<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0 text-center" href="#">Quiz App</a>
  <input class="form-control form-control-dark w-100" type="text" 
    placeholder="Search" aria-label="Search">
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <span *ngIf="!isLogged" class="nav-link pointer" data-toggle="modal" data-target="#loginModal">Sign in</span>
      <span *ngIf="isLogged" class="nav-link pointer" (click)="logout()">Log out</span>
    </li>
  </ul>
</nav>
<br>

<!-- LoginModal -->
<div class="modal" id="loginModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body">
        <app-login-form></app-login-form>
      </div>

    </div>
  </div>
</div>