<div class="container">
    <div class="row">
        <div class="col-9 mx-auto" *ngFor="let publication of publications; let i = index">

            <div id="accordion">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" 
                                [attr.data-target]="'#collapseOne' + i" aria-expanded="true" aria-controls="collapseOne">
                                <span class="w-color">{{ publication.title }}</span>
                            </button>
                        </h5>
                    </div>
                    <div [id]="'collapseOne' + i" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            {{ publication.question }}
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
